<!DOCTYPE html>
<html>
<head>
	<title>Github Navigator</title>
	<style rel="stylesheet" type="text/css">
	</style>
</head>
<body>
	<form method="GET" action="/navigator">
		<h1 class="search_term">search term: <input type="text" name="search_term" value="{{search_term}}" /></h1>

		<input type="submit" value="search"/>
		</form>
		<hr/>

	{% if len(search_term) == 0 %}
	Empty search term.
	{% elif len(projects) == 0 %}
	Your search - <b>{{search_term}}</b> - did not match any github project.
	{% end if %}

	{% for idx in range(len(projects)) %}
	{% set project = projects[idx] %}
	<h2>{{idx+1}}. <a href="{{project["html_url"]}}">{{project["name"]}}</a>
</h2>
	<h3> Created {{project["created_at"]}}</h3>
	
	<a href="{{project["owner"]["url"]}}"><img src="{{project["owner"]["avatar_url"]}}" alt="avatar" height="42" width="42"/></a>
	{{project["owner"]["login"]}}

	<h3>LastCommit</h3>
	{% if "lastcommit" in project %}
		{% set commit = project["lastcommit"] %}
		{{commit["sha"]}} {{commit["commit"]["message"]}} {{commit["commit"]["author"]["name"]}}
	{% else %}
		No commits returned from the API. Check your API permissions and Rate
		Limit. More info: https://developer.github.com/v3/search/#rate-limit
	{% end if %}
	
	{% if idx < len(projects)-1 %}<hr/>{% end if %}
	{%end for%}
</body>
</html>